
<%=  %>

<div>
    <%= link_to 'recommendations','/top/recommendations', method: :get %>
</div>

<div>
    <%= link_to 'top_tracks','/top/top_tracks', method: :get %>
</div>

<div>
    <%= link_to 'friends','/friends', method: :get %>  
</div>

<div>
    <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
</div>

<div>
    <%= link_to 'my profile', "/users/#{@user.id}", method: :get %>
</div>