<%= link_to "プレイリストとして保存", {controller: "top", action: "create_mytop_playlist"}, method: :post %>
<% @my_top_tracks.each_with_index do |track, rank| %>
    <div>    
        <%= rank+1 %>
        <%= track.name %>
        <% audio_feature_data_json = RSpotify.get("https://api.spotify.com/v1/audio-features/#{track.id}") %>
        energy: <%= audio_feature_data_json["energy"] %>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track.id %>?utm_source=generator" width="15%" height="82" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <div>
            <% @track = track.name %>
            <% @friends = Friend.to_uid_array(current_user) %>
            <%= render 'request_form' %>
        </div>
    </div>
<% end %>

<% #自分と友達のトラックにランクで合わせて表示 %>
<%= link_to "プレイリストとして保存", {controller: "top", action: "create_grouptop_playlist"}, method: :post %>
<% @group_tracks = User.get_groups_top_tracks(current_user) %>
<% if not @group_tracks.nil? %>
    <% @group_tracks.each_with_index do |track, rank| %>
        <div>
            <%= rank+1 %>
            points: <%= track[1] %>
            <div>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track[0] %>?utm_source=generator" width="15%" height="82" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
    <% end %>
<% end %>