<div class="text-white">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-success m-2"><%= message %></div>
    <% end %>
    <h1 class="m-5">Friends</h1>
    <div class="m-4">
        MY UID
        <%= session[:spotify_uid] %>
    </div>
    
    <div>
        <%= form_with model: @friend do |form| %>
        <div class="form-row m-3">
            <div class="m-1">友達を追加</div>
            <%= form.text_field :friend_uid, class: "form-control col-3 bg-secondary border-primary" %>
            <%= form.submit "+", class: "btn btn-outline-primary rounded-circle bg-secondary ml-1" %>
        </div>
        <% end %>
    </div>
    <div class="m-3">
        <table class="table text-white border">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Positive</th>
                    <th scope="col">Energy</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <% if not @friends.nil? %>
                <% @friends.each do |f| %>
                        <tbody>
                        <th scope="row"><%= RSpotify::User.find(f.friend_uid).display_name %></th>
                        <% if User.find_by(spotify_uid: f.friend_uid)%>
                                <% friend = User.find_by(spotify_uid: f.friend_uid) %>
                                <td><%= friend.genre %></td>
                                <td><%= friend.positive %></td>
                                <td><%= friend.energy %></td>
                        <% end %>
                        <td><%= link_to 'del', "/friends/#{f.id}",method: :delete %></td>
                        </tbody>
                <% end %>
            <% end %>    
        </table>
    </div>
</div>
