<% flash.each do |message_type, message| %>
    <%= message %>
<% end %>
<h1>friends list</h1>
<div>
    MY UID
    <%= session[:spotify_uid] %>
</div>

<div>
    友達を追加
    <%= form_with model: @friend do |form| %>
      <%= form.text_field :friend_uid %>
      <%= form.submit %>
    <% end %>
</div>
<div>
    友達リスト
</div>
<hr>
<div>
    
    <% if not @friends.nil? %>
        <% @friends.each do |f| %>
                <%= f.friend_uid %>
                <% if User.find_by(spotify_uid: f.friend_uid)%>
                    <% friend = User.find_by(spotify_uid: f.friend_uid) %>
                    <%= friend.genre %>
                    <%= friend.positive %>
                    <%= friend.energy %>
                <% end %>
                <%= link_to 'del', "/friends/#{f.id}",method: :delete %>
                <hr>
        <% end %>
    <% end %>    
</div>
