<!DOCTYPE html>
<html>
  <head>
    <title>TestSporify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= spotify_user_name %>
    <%= link_to "top_page", root_path %>
    <%= yield %>
  </body>
</html>
